@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  display: none;
}

body {
  -ms-overflow-style: none;
}

html {
  scrollbar-width: none;
}

@keyframes fadeToOne {
  to {
    background-color:#b91c1c;
  }
}

.fadeToOneClass {
  animation: fadeToOne 2s forwards;
}

@keyframes fadeToTwo {
  to {
    background-color: #6d28d9;
  }
}

.fadeToTwoClass {
  animation: fadeToTwo 2s forwards;
}

@keyframes fadeToThree {
  to {
    background-color:#1d4ed8;
  }
}

.fadeToThreeClass {
  animation: fadeToThree 2s forwards;
}

@keyframes slideIn {
  from {
    height: 10rem;
  }
  to {
    height: 40rem;
  }
}

.slideIn {
  animation: slideIn 500ms forwards;
  animation-timing-function: ease-in-out;
  will-change: height;
}

@keyframes slideOut {
  from {
    height: 40rem;
  }
  to {
    height: 10rem;
  }
}

.slideOut {
  animation: slideOut 500ms forwards;
  animation-timing-function: ease-in-out;
  will-change: height;
}

.backgroundGradient {
  background-color: #ccfbf1;
  opacity: 1;
  background-image:  radial-gradient(#1d4ed8 1.35px, transparent 1.35px), radial-gradient(#1d4ed8 1.35px, #ccfbf1 1.35px);
  background-size: 54px 54px;
  background-position: 0 0,27px 27px;
}

.nameShadow {
  text-shadow: black 3px 3px;
}

.occShadow {
  text-shadow: white 0px 3px 0px;
}
