@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeToOne {
  to {
    background-color:#b91c1c;
  }
}

.fadeToOneClass {
  animation: fadeToOne 2s forwards;
}

@keyframes fadeToTwo {
  to {
    background-color: #6d28d9;
  }
}

.fadeToTwoClass {
  animation: fadeToTwo 2s forwards;
}

@keyframes fadeToThree {
  to {
    background-color:#1d4ed8;
  }
}

.fadeToThreeClass {
  animation: fadeToThree 2s forwards;
}

@keyframes slideIn {
  from {
    height: 10rem;
  }
  to {
    height: 22rem;
  }
}

.slideIn {
  animation: slideIn 2s forwards;
}

@keyframes slideOut {
  to {
    height: 10rem;
  }
}

.slideOut {
  animation: slideOut 2s forwards;
}

.backgroundGradient {
  background-color: #e5e5f7;
  opacity: 1;
  background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #e5e5f7 25%);
  background-position:  35px 0, 35px 0, 0 0, 0 0;
  background-size: 35px 35px;
  background-repeat: repeat;
}

.nameShadow {
  text-shadow: black 3px 3px;
}

.occShadow {
  text-shadow: white 0px 3px 0px;
}
